<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.henrichg.phoneprofiles"
    android:versionCode="15"
    android:versionName="3.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Phoneprofilestheme"
        android:configChanges="locale|layoutDirection"
        android:name="sk.henrichg.phoneprofiles.GlobalData" >
        <activity
            android:name="sk.henrichg.phoneprofiles.ActivateProfileActivity"
            android:label="@string/title_activity_phone_profiles"
            android:theme="@style/PopupTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.henrichg.phoneprofiles.PhoneProfilesActivity"
            android:label="@string/title_activity_phone_profiles" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.henrichg.phoneprofiles.ProfilePreferencesActivity"
            android:label="@string/title_activity_profile_preferences"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name="sk.henrichg.phoneprofiles.PhoneProfilesPreferencesActivity"
            android:label="@string/title_activity_phone_profiles_preferences"
            android:configChanges="locale|layoutDirection" >
        </activity>
        <activity
            android:name="sk.henrichg.phoneprofiles.ShortcutCreatorActivity"
            android:label="@string/title_activity_shortcut_creator"
            android:icon="@drawable/ic_shortcut"
            android:theme="@style/PopupTheme"
            android:configChanges="locale|layoutDirection" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.henrichg.phoneprofiles.BackgroundActivateProfileActivity"
            android:label="@string/empty_string" 
            android:taskAffinity="sk.henrichg.phoneprofiles"
            android:excludeFromRecents="true"
            android:theme="@style/EmptyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name="sk.henrichg.phoneprofiles.ActivateProfileWidget"
            android:icon="@drawable/ic_launcher"
            android:label="Phone Profiles" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/activate_profile_widget_info" />
        </receiver>
        <receiver
            android:name="sk.henrichg.phoneprofiles.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver 
            android:name="sk.henrichg.phoneprofiles.LocaleChangedReceiver" 
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>